* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
}

.right {
    float: right;
}

.ib {
    display: inline-block;
}

h2 {
    display: block;
    margin: 0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.maintop {
    width: 100%;
    height: 540px;
}

.maintopleft {
    position: relative;
    width: 44%;
    height: 100%;
    margin: 0% 0% 0% 11%;
    display: inline-block;
    padding-right: 60px;
}

._1envo {
    height: 125px;
    width: 200px;
    transition: -webkit-transform .3s cubic-bezier(.23,1,.32,1) 0ms;
    transition: transform .3s cubic-bezier(.23,1,.32,1) 0ms;
    transition: transform .3s cubic-bezier(.23,1,.32,1) 0ms,-webkit-transform .3s cubic-bezier(.23,1,.32,1) 0ms;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    fill: #fc8019;
    margin-top: 92px;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.log {
    margin-top: 66px;
    margin-right: 20px;
}

.choice a {
    padding: 12px 35px;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 50px;
    margin: 0px -4px;
    font-weight: 600;  
    text-decoration: none;
}

.login {
    color: #000;
}

.login:hover {
    color: #fc8019;
}

.signup {
    background-color: #000;
    color: #fff;
}

.signup:hover {
    transform: translate(0px, -2px);
}

.maintopleft h2 {
    margin-top: 70px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.45px;
    opacity: 0.9;
}

.maintopleft h3 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    width: 600px;
    color: #686b78;
}

.search {
    margin-top: 40px;
    position: relative;
    border: 1px solid #7e808c;
}

.search input {
    font-size: 16px;
    display: block;
    font-weight: 600;
    border: none;
    padding: 0px 50px 0px 20px;
    width: 100%;
    height: 58px;
    line-height: 28px;
}

input[type="text"]:focus {
    outline: none;
}

input:focus .search {
    border: 1px solid #fc8019;
}

.locater {
    cursor: pointer;
    position: absolute;
    top: 5px;
    padding: 10px 15px; 
    right: 78px;
}

.locater span {
    width: 100px;
    font-weight: 400;
    display: block;
    font-size: 14px;
}

.locator span:hover {
    background-color: rgb(181, 181, 196);
}

.deloca {
    width: 500px;
    margin-top: 30px;
}

.deloca a {
    text-decoration: none;
    font-weight: 500;
    margin-right: 8px;
    font-size: 13px;
    color: #93959f;
}

.search a {
    position: absolute;
    right: 0;
    color: #fff;
    background-color: #fc8019;
    font-weight: 600;
    padding: 20px 30px;
    display: block;
    text-decoration: none;
    top: 0;
}



.maintopright {
    width: 44.7%;
    position: absolute;
    display: inline-block;
    height: 540px;
    background-image: url("../media/food.webp");
    background-size: cover;
}

.mainbottom {
    width: 100%;
    display: block;
    background-color: #2B1E16;
    color: #fff;
    text-align: center;
    padding: 0px 50px;
}

.content {
    padding-bottom: 80px;
}

.feat {
    display: inline-block;
    width: 260px;
    margin: 0px 100px;
    height: 260px;
}

.image {
    margin: 10px 0px;
    height: 205px;
}

.image1 {
    width: 105px;
    height: 199px;
}

.image2 {
    width: 112px;
    height: 206px;
}


.image3 {
    width: 124px;
    height: 188px;
}

.head {
    display: block;
    width: 260px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
}

.details {
    font-size: 14px;
    color: #e0cbc1;
}

.stores {
    padding: 0px 20px;
    height: 570px;
}

.storecontent {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.storecontent h3 {
    width: 300px;
    padding-top: 150px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.45px;
    line-height: 1;
    color: #282c3f;
}

.storecontent span {
    width: 400px;
    font-size: 20px;
    color: #7e808c;
    line-height: 1.2;
    display: block;
    padding: 20px 0px 60px;
}

.storelink {
    width: 100%;
}

.storelink a {
    text-decoration: none;
}

.storelink img {
    height: 54px;
    border: none;
    margin-right: 20px;
}

.mobile {
    height: 489px;
    width: 384px;
    position: absolute;
}

.mobile1 {
    top: 0;
    right: 300px;
}

.mobile2 {
    bottom: 0;
    right: -45px;
}

.cities {
    width: 100%;
    padding: 0 20px;
    background-color: #fc8019;
}

.citylink {
    padding: 32px 0px;
    margin: 0 auto;
    width: 1250px;
}

.city {
}

.citylink a {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    transition: 0.1s;
    position: relative;
    background-color: transparent;
    /* line-height: 1px; */
    margin-right: 40px;
    font-weight: 400;
    color: #fff;
}

.citylink a:after {
    content: "\2022";
    position: absolute;
    top: 0;
    right: -20px;
}

.citylink a:hover {
    transform: scale(1.2,1.2);
}

.footer {
    width: 100%;
    background-color: #000;
    padding: 0 20px;
}

.footercontent {
    width: 1200px;
    margin: 0 auto;
    padding-top: 76px;
}

.foottop {
    width: 100%;
    justify-content: space-between;
    -webkit-box-pack: justify;
    display: block;
    height: 250px;
    border-bottom: 1px solid #4d4d4d;
}

.topcontent {
    width: 300px;
    margin-right: 28px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.topcontent span {
    color: gray;
    font-size: 15px;
    font-weight: 600;
}

.topcontent .list ul {
    list-style: none;
    margin-top: 30px;
}

.topcontent .list ul li {
    color: #fff;
    font-size: 17px;
    display: block;
    margin-top: 15px;
    font-weight: 300;
    cursor: pointer;
}

.topcontent .list ul li a {
    text-decoration: none;
}

.topcontent .list ul li:hover {
    font-size: 18px;
}

.toplink {
    display: inline-block;
    width: 200px;
}

.toplink a {
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
}

.toplink img {
    width: 100%;
    transition: 0.1s;
}

.toplink img:hover {
    transform: scale(1.1,1.1);
}

.footfoot {
    display: flex;
    width: 100%;
    padding: 29px 0px;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    -webkit-box-align: center;
}

.logo {
    width: 142px;
}

.logo img {
    width: 100%;
}

.copyright {
    color: #fff;
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
}

.copyright span {
    vertical-align: middle;
}

.social {
    /* width: 204px; */
}

.social a {
    margin-left: 30px;
    text-decoration: none;
}

.social a img {
    height: 24px;
}